<h1>Hello, <%= @care_giver.name %> </h1>
<% if @children.empty? %><h2>You have no children under your care</h2>
<% else %>
<h2>Here's the list of children under your care</h2>
<% end %>

<div class="buttons">
  <a class="button" href="/children/new">Add A Child</a>
  <% if !@children.empty? %>
    <a class="delete-button" href="/children/delete">Remove A Child</a>
    <!-- <a href="/children/edit" class="button-alt">Edit The Information</a> -->
  <% end %>
</div>

<% @children.each do |child| %>
  <div class="children_list">
    <h3><b>Child's Name:</b> <%= child.name %></h3>
    <p>
      <b>Child's Birthdate:</b> <%= child.birthdate %><br>
      <b>Child's Gender:</b> <%= child.gender == "F" ? "Girl" : "Boy" %><br>
    </p>
      <!-- if the table exits href /edit instead of create -->
      <!-- Set a if statement to check if log exists then href= /edit  -->
      <div class="buttons">
        <% if !child.logs.empty? %>
          <a class="button-alt" href="/children/<%= child.id %>">See The Daily Log</a>
        <% end %>
        <% if !child.logs.empty? %>
            <a class="button-alt" href="/children/<%= child.id %>/logs/edit">Edit the Daily Log</a>
          <% else %>
            <a class="button-alt" href="/children/<%= child.id %>/logs/create">Create a Daily Log</a>
        <% end %>
          <a href="/children/<%= child.id %>/edit" class="button">Edit The Child's Info</a>
      </div>
  </div>
<% end %>
