<h1>Hi, <%= @care_giver.name %>.</h1>
<h2>Edit the information for a child under your care.</h2>
<p>Enter the information below:</p>
<form action="/children/<%= @child.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <p>
    <label for="name">Name: </label>
    <input type="text" name="name" value="<%= @child.name %>" required />
  </p>
  <p>
    <label for="birthdate">Birthdate: </label>
    <input type="text" name="birthdate" value="<%= @child.birthdate %>" pattern="\d{2}-\d{2}-\d{2}" required />
  </p>
  <p>
    <label for="gender">Gender: </label>
    <input type="radio" name="gender" value="M" <%= @child.gender == "M" ? "checked" : "" %> required> Boy</input>
    <input type="radio" name="gender" value="F" <%= @child.gender == "F" ? "checked" : "" %> > Girl</input>
  </p>
  <p>
    <input type="submit" name="submit" value=" Submit Edits ">
  </p>
</form>
