<p><a href="/children">Return to the list of children</a></p>

<h1>Create <%= @child.name %>'s log</h1>
<br>

<form class="create" action="/children/<%= @child.id %>/logs/create" method="post">

  <p>
    First Nap:
    <select class="" name="first_nap[time]">
      <option></option>
      <% (7..18).each do |hour| %>
        <% (0..3).each do |minute| %>
          <option>
            <%= hour > 12 ? hour - 12 : hour %>:<%= minute == 0 ? "00" : minute * 15 %> <%= hour < 12 ? "AM" : "PM" %>
          </option>
        <% end %>
      <% end %>
    </select>

    Duration:
    <select name="first_nap[duration]">
      <option></option>
      <%  24.times do |length| %>
        <option value="<%= length * 5 %>"><%= length * 5 %></option>
      <% end %>
    </select><span> minutes</span>

  </p>

  <p>
    Second Nap:
    <select class="" name="second_nap[time]">
      <option></option>
      <% (7..18).each do |hour| %>
        <% (0..3).each do |minute| %>
          <option>
            <%= hour > 12 ? hour - 12 : hour %>:<%= minute == 0 ? "00" : minute * 15 %> <%= hour < 12 ? "AM" : "PM" %>
          </option>
        <% end %>
      <% end %>
    </select>

    Duration:
    <select name="second_nap[duration]">
      <option value=""></option>
      <%  24.times do |length| %>
        <option value="<%= length * 5 %>"><%= length * 5 %></option>
      <% end %>
    </select><span> minutes</span>

  </p>

  <p>
    Number of Wet Diapers:
    <select class="" name="diaper[wet]">
      <% (0..8).each do |diaper| %>
        <option value="<%= diaper %>"><%= diaper %></option>
      <% end %>
    </select>
  </p>

  <p>
    Number of Soiled Diapers:
    <select class="" name="diaper[soiled]">
      <% (0..8).each do |diaper| %>
        <option value="<%= diaper %>"><%= diaper %></option>
      <% end %>
    </select>
  </p>

  <p>
    First Feeding:
    <select class="" name="feeding[first]">
      <option value=""></option>
      <% (7..18).each do |hour| %>
        <% (0..3).each do |minute| %>
          <option>
            <%= hour > 12 ? hour - 12 : hour %>:<%= minute == 0 ? "00" : minute * 15 %> <%= hour < 12 ? "AM" : "PM" %>
          </option>
        <% end %>
      <% end %>
    </select>
  </p>

  <p>
    Second Feeding:
    <select class="" name="feeding[second]">
      <option value=""></option>
      <% (7..18).each do |hour| %>
        <% (0..3).each do |minute| %>
          <option>
            <%= hour > 12 ? hour - 12 : hour %>:<%= minute == 0 ? "00" : minute * 15 %> <%= hour < 12 ? "AM" : "PM" %>
          </option>
        <% end %>
      <% end %>
    </select>
  </p>

  <p>
    Third Feeding:
    <select class="" name="feeding[third]">
      <option value=""></option>
      <% (7..18).each do |hour| %>
        <% (0..3).each do |minute| %>
          <option>
            <%= hour > 12 ? hour - 12 : hour %>:<%= minute == 0 ? "00" : minute * 15 %> <%= hour < 12 ? "AM" : "PM" %>
          </option>
        <% end %>
      <% end %>
    </select>
  </p>

    <h3>Today's Activities:</h3>
    <ol>
      <input type="hidden" name="activity[hidden]" value="">
      <!-- undefined method `[]' for nil:NilClass --if no items are checked w/o hidden input ^^ -->
      <li><input type="checkbox" name="activity[arts_and_crafts]" value="1"> Arts and Crafts</input></li>
      <li><input type="checkbox" name="activity[gym_time]" value="1"> Gym Time</input></li>
      <li><input type="checkbox" name="activity[independent_play_time]" value="1"> Independent Play Time</input></li>
      <li><input type="checkbox" name="activity[music_time]" value="1"> Music Time</input></li>
      <li><input type="checkbox" name="activity[sensory_play_time]" value="1"> Sensory Play Time</input></li>
      <li><input type="checkbox" name="activity[story_time]" value="1"> Story Time</input></li>
      <li><input type="checkbox" name="activity[tummy_time]" value="1"> Tummy Time</input></li>
    </ol>
    <br>
    <p>
      Additional Notes:<br>
      <textarea name="notes" rows="4" cols="50"></textarea>
    </p>
    <p>
      <input type="submit" name="submit" value=" Enter The Log ">
    </p>
</form>
